$back-ground: #191c24;

/* Стиль текста в панели навигации */
$nav-font: #fff;
$nav-size: 18px;
$nav-item-height: 75px;
$nav-item-width: 318px;
$nav-padding-left: 29px;

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  background-color: black;
}

#wrap {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

#nav {
  list-style-type: none;
}

.nav__item {
  background-color: $back-ground;
  width: $nav-item-width;
  height: $nav-item-height;
  padding-left: $nav-padding-left;
  
  /* Формат текста */
  font-family: OpenSans;
  color: $nav-font;/* Цвет у активного и последнего пункта другие! */
  font-size: $nav-size;
  font-weight: 700;
  line-height: $nav-item-height;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}

#authorization {
  background-color:  #f7f8f8;
  width: 639px;
  height: 570px;
}