@font-face {
    font-family: 'Open Sans';
    src:
      local('Open Sans'),
      local('OpenSans'),
      url('opensans.woff2') format('woff2'),
      url('opensans.woff') format('woff'),
      url('opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

$back-ground: #191c24;

/* Стиль текста в панели навигации */
$nav-font: #fff;
$nav-size: 18px;
$nav-item-height: 75px;
$nav-item-width: 318px;
$nav-padding-left: 29px;

$nav__item_active: #2a2d37;
$nav__item_near: red;

/* Формат блока авторризации */
$auth-bg-color: #f7f8f8;

/* Формат инфо блока */
$main-width: 639px;

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  background-color: black;
}

#container {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

#nav {
  list-style-type: none;
}
.nav__item {
  background-color: $back-ground;
  padding-left: $nav-padding-left;
  /* Формат текста */
  font-family: OpenSans;
  color: $nav-font;
  font-size: $nav-size;
  font-weight: 700;
  line-height: $nav-item-height;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  a {
    display: block;
    width: $nav-item-width;
    height: $nav-item-height;
    /* Формат текста */
    font-family: 'Open Sans', sans-serif;
    color: $nav-font;
    font-size: $nav-size;
    font-weight: 700;
    line-height: $nav-item-height;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
  }
}
.nav__item:last-child a {
  color: #808592;
}

#main {
  width: $main-width;
  
  
  #auth {
    background-color:  $auth-bg-color;
    width: 100%;
    box-sizing: border-box;
    padding-top: 47px;
    padding-left: 29px;
    padding-right: 45px;
    padding-bottom: 46px;
//    height: 570px;
    
    #score {
      display: grid;
      margin-top: 23px;
      grid-template-columns: 160px 160px;
    }
    
    .subtitle {
      font-family: Arial;
      color:  #8494ab;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
    }

    .value {
      font-family: Arial;
      color:  #373c43;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
    }
    
    h2 {
      margin-top: 35px;
      margin-bottom: 22px;
      font-family: 'Open Sans', sans-serif;
      color:  #383d43;
      font-size: 21.98px;
      font-weight: 700;
      line-height: 22px;
      text-align: left;
    }
    
    #card-block {
      position: relative;
      width: 100%;
      height: 256px;
      
      form {
        position: absolute;
        z-index: 2;
        padding-top: 22px;
        padding-left: 15px;
        width: 100%;
        box-sizing: border-box;
        
        .card-number {
          display: flex;
          margin-top: 2px 0 12px 0;
          
          .card-number__item {
            border: 1px solid #e4e9ee;
            box-sizing: border-box;
            background-color:  #ffffff;
            width: 65px;
            height: 42px;
            margin-right: 9px;
            padding-left: 12px;
          }
        }
        
        #wrap-date-cvv {
          display: flex;
          justify-content: space-between;
          width: 100%;
          
          #card-date {
          margin-top: 2px;
          margin-right: 9px;
          
          select {
            border-style: solid;
            border-width: 1px;
            border-color:  #e4e9ee;
            box-sizing: border-box;
            background-color:  #ffffff;
            width: 70px;
            height: 42px;
            text-align: center;
            
            /*Формат текста*/
            font-family: Arial;
            color:  #373c43;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            
            padding-left: 15px;
          }
          select:nth-child(2) {
            width: 86px;
          }
        }
          #card-cvv-block {
            .subtitle {
              margin-right: 24px;
              margin-bottom: 4px;
            }
            #cvv-field {
              display: block;
              border: 1px solid #e4e9ee;
              box-sizing: border-box;
              background-color:  #ffffff;
              width: 138px;
              height: 42px;
              margin-top: 2px;
              padding-left: 12px;
            }
          }
          #cvv-faq {
            position: relative;
            svg {
              position: absolute;
              top: 8px;
              right: 24px;
            }
            svg:hover {
              fill: black;
              cursor: pointer;
              transition: 200ms;
              -webkit-transition: 200ms;
            }
          }
        }
        
        .card-user {
          margin-top: 12px;
          
          .card-user__field {
            border: 1px solid #e4e9ee;
            box-sizing: border-box;
            background-color:  #ffffff;
            width: 319px;
            height: 42px;
            /* формат текста */
            padding-left: 12px;
            font-family: Arial;
            
            color:  #bec6cf;
//            -webkit-input-placeholder: #bec6cf;      /* webkit */
//            -moz-webkit-input-placeholder: #bec6cf;  /* Firefox 19+ */
//            -ms-webkit-input-placeholder: #bec6cf;   /* Firefox 18- */
//            -o-webkit-input-placeholder: #bec6cf;    /* IE */
            
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
          }
        }
      }
      
      .card {
        border-radius: 10px;
        border: 1px solid #e4e9ee;
        box-sizing: border-box;
        background-color:  #f7f8f8;
        width: 350px;
        height: 236px;
      }
      .card-front {
        position: absolute;
        z-index: 1;
      }
      .card-back {
        position: absolute;
        z-index: 0;
        top: 14px;
        right: 0;
        text-align: right;
        
        .card-back__decor-line {
          background-color:  #e4e9ee;
          width: 100%;
          height: 42px;
          margin: 26px 0 19px 0;
        }
      }
    }
    
    #send-btn {
      margin-top: 20px;
      margin-left: 15px;
      border-radius: 20px;
      background-color:  #005abf;
      width: 133px;
      height: 40px;
      
      font-family: OpenSans;
      color:  #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
    }
  }
  
  #info {
    background-color:  #373c43;
    width: 100%;
    box-sizing: border-box;
    padding: 26px 45px 33px 29px;
    /*Формат текста*/
    font-family: Arial;
    color:  #89909d;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }
}

@media screen and (max-width: 1102px){
  
}